footer{
    background-color: $colorfondo2; 
    color: $colorletra1; 
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        margin: 20px;
    }
    a{
        &:hover{
        transform: scale(1.1, 1.1);
        }
    }
}