@mixin mobile {
    @media screen and (max-width: 480px) {
        @content;
    }
}
footer{
    background-color: $colorfondo2; 
    color: $colorletra1; 
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include mobile{
        height: 100px;
    }
    
    img{
        margin: 20px;
        @include mobile{
            width: 40px;
            margin: 10px;
        }
    }
        
    a{
        &:hover{
        transform: scale(1.1, 1.1);
        }
    }
}