
@mixin mobile {
    @media screen and (max-width: 480px) {
        @content;
    }
}

header{
    width: 100%;
    height: 320px;
    background-color: $colorfondo2;
    text-align: center;
    padding-top: 30px;
    @include mobile {
        height: 210px;
        padding-top: 5px;
    }
    
    h1{
        font-size: 90px;
        color: $colorletra1;
        font-weight: 200px;
        letter-spacing: 2px;
        text-align: center;
        font-family: $tipografia1;
        @include mobile{
            font-size: 70px;
        }
       
    }
    h2{
        font-size: 22px;
        color: $colorletra1;
        letter-spacing: 4px;
        text-align: center;
        font-family: $tipografia1;
        font-style: italic;
        animation-duration: 4s;
        animation-name: aparece;
        animation-iteration-count: infinite;
        @keyframes aparece {
            0%{
                opacity: 0.4;
            }
            50%{
                opacity: 1;
            }
            100%{
                opacity: 0.4;
            }
        }    
        @include mobile{
            font-size: 18px;
            letter-spacing: 2px;
        }
    }
    .navegador{
        margin-top: 45px;
        text-align: center;
        list-style-type: none;
        @include mobile{
            margin: 5px;
        }
        
        li{
            display: inline-block;
            a{
                color: $colorletra1;
                text-decoration: none;
                padding: 20px;
                margin: 20px;
                font-size: 20px;
                font-family: $tipografia2;

                &:hover{
                    color: $colorletra2;
                    background-color: $colorfondo4;
                    border-radius: 30px;
                
                }
                @include mobile{
                    font-size: 15px;
                    padding: 10px;
                    margin: auto;}
                
            }
        }
    }
}