$colorfondo1: #f5f4f2;
$colorfondo2: #dcd8d1;
$colorfondo3: #dcd8d14e;
$colorfondo4: #edede9;
$colorfondo5: #a99985;

$colorletra1: white;
$colorletra2: #a99985;
$colorletra3: #c9ada7;

$tipografia1: 'Tinos', serif;
$tipografia2: Arial, Helvetica, sans-serif;