$colorfondo1: #e0d1cb;
$colorfondo2: #844740;
$colorfondo3: #8447409a;
$colorfondo4: #edede9;
$colorfondo5: #a99985;

$colorletra1: white;
$colorletra2: #844740;
$colorletra3: #c9ada7;

$tipografia1: 'Tinos', serif;
$tipografia2: Arial, Helvetica, sans-serif;